::selection {
    color: inherit;
    text-decoration: underline;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background: 
    radial-gradient(circle at center, rgba(10, 9, 9, 0.9) 0%, rgba(25, 10, 2, 0.85) 50%, rgba(10, 10, 10, 0.95) 75%, #000000 100%),
    radial-gradient(circle at 20% 30%, rgba(8, 4, 4, 0.2) 0%, transparent 70%),
    radial-gradient(circle at 80% 70%, rgba(104, 0, 0, 0.5) 0%, transparent 80%);
  
    background-blend-mode: overlay;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: calc(2vw + 1rem);
    margin: 0;
    padding: 1vw;
    color: #ff5900;
    text-shadow: #e16f1d 0px 0px 50px;
}


.show {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.hide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.header-form {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
}

.head_container {
    background-color: rgba(0, 0, 0, 0.419);
    border-radius: 32px;
    border: #d4d4d439 1px solid;
    border-bottom: none;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 64px rgba(255, 162, 81, 0.2);
    position: absolute;
    padding: 100vh, 100vh, 100vw, 100vw;
    width: 70%;
    top: 50%;
    left: 50%;
    filter: blur(10px);
    transform: translate(-50%, -60%);
    opacity: 0;
    animation: slideDown 0.5s forwards ease-in-out;
}

@keyframes slideDown {
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: blur(0);
  }
}



#app-description {
    font-size: calc(2vw + 0.2rem);
    color: #ccc;
    text-align: center;
    padding: 1vw 10vw;
}
.app-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1vw 0;
}
.app-description-list {
    list-style-type: none;
    padding: 0;
    text-align: right;
}
#editor-video {
    width: 100%;
    height: auto;
    max-width: 50%;
    border-radius: 16px;
    margin: 0 0 0 8vw;
    box-shadow:
    0 0 20px rgba(255, 102, 0, 0.5),    /* oranžs mirdzums */
    0 8px 30px rgba(0, 0, 0, 0.2);
}

.app-description-list li {
    border-radius: 10px;
    margin: 10px 0;
    font-size: calc(1vw + 1rem);
    color: #ccc;
    transition: all 0.3s ease;
}

/* Container for the page */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
}


.feature-card {
  background: #1a1a1a;
  border-radius: 16px;
  padding: 0 0 12px 0;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(255, 103, 0, 0.4);
}

.feature-card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.feature-card video {
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin-bottom: 1rem;
}

.blurred {
    filter: blur(5px);
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrapper p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 6px 12px;
    border-radius: 12px;
    font-weight: bold;
    font-size: calc(1vw + 0.5rem);
    text-align: center;
    pointer-events: none;
    z-index: 2;
    transition: transform 0.3s ease;
}

.image-wrapper:hover p {
  transform: translate(-50%, -50%) scale(1.1);
}



.feature-card h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #ffa447;
}

.feature-card p {
  font-size: 0.95rem;
  color: #ccc;
  padding: 12px, calc(1vw + 0.2rem);
  margin: 0;
}



/* Header Section */
header {
    text-align: center;
    /* background-image: url("img/planet_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    
    height: 120vh;
    position: relative;
    overflow: hidden;
    color: white;
}

.head_container h1 {
    font-size: 4vw;
    margin: 0;
    position: relative;
    top: 10%;
}

.head_container p {
    font-size: calc(1vw + 0.5rem);
    padding: 0.5vw;
    color: #ccc;
    position: relative;
    top: 10%;
}

/* Footer and Email Section */
footer {
    text-align: center;
    padding: 40px 20px;
    color: white;
}

header form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 100%;
}

header form input {
    padding: 2vw 5vw;
    font-size: calc(1vw + 0.5rem);
    border: none;
    border-radius: 5px;
    border-radius: 16px 0 0 16px;
    background: #28282893;
    color: rgb(255, 175, 117);
}
header form input::selection {
    background: #ff6700;
    color: white;
}
header form input:focus {
    outline: none;
    box-shadow: 0 0 5px #ff6700;
    background: #242424cf;
    color: #ff6600;
}
header form input:focus::placeholder {
    color: #893700;
    font-style: normal;
}
header form input:-webkit-autofill, header form input:autofill {
    -webkit-box-shadow: 0 0 0 30px #0d0d0d inset !important;
    -webkit-text-fill-color: #ff6700 !important;
    color: #ff6700 !important;
    box-shadow: 0 0 5px #ff6700;
}

header form button {
    padding: 2vw 5vw;
    background: #ff6700;
    border: none;
    border-radius: 0 16px 16px 0;
    color: white;
    font-size: calc(1vw + 0.5rem);
    min-width: calc(13vw + 50px);
    cursor: pointer;
    
}

header form button:hover {
    background: #e65b00;
}

.center_wrapper {
    text-align: center;
}

.blog-link {
    display: block;
    margin: 20px auto;
    color: #ffe7d8;
    text-decoration: none;
    font-size: calc(0.5vw + 1rem);
    border: 1px solid #ff9f5f;
    border-radius: 16px;
    background: rgba(100, 40, 0, 0.467);
    padding: 10px 20px;
    width: fit-content;
    transition: transform 0.3s ease, background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.blog-link:hover {
    color: #ff7b00;
    background: rgba(96, 46, 0, 0.481);
    border: 1px solid #ff7b00;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.social-media-links a {
    margin: 0;
    color: #45beff;
    text-decoration: none;
    font-size: calc(2vw + 0.5rem);
    transition: color 0.3s ease;
    font-style: oblique;
}
.social-media-links img {
    height: calc(2vw + 2vh + 10px);
    padding: 10px;
    transform: scale(1);
    transition: transform 0.1s ease;
}
.social-media-links img:hover {
    transform: scale(1.1) translateY(-5px);
}


/* Scroll animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.progress_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    height: calc(5vh + 10px);
    margin: 16px 4vw;
    border-radius: 16px;
    background-color: #4e1f00;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: fadeIn 1s ease-in-out forwards;
}

.progress_bar a {
    color: #ffffff;
    text-decoration: none;
    font-size: calc(1vw + 0.5rem);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.progress_bar_fill {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff6700;
    height: 100%;
    border-radius: 16px;
    width: 0%;
    transition: width 1s ease-in-out;
}

.progress_bar_fill.filled {
  width: var(--target-width);
}

.support-button {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #ffe7d8;
    text-decoration: none;
    text-align: center;
    font-size: calc(0.5vw + 1rem);
    border: 1px solid #ff9f5f;
    border-radius: 16px;
    background: rgba(100, 40, 0, 0.467);
    padding: 10px 20px;
    margin: 20px 0;
    transition: transform 0.3s ease, background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.support-button:hover {
    left: 50%;
    transform: translateX(-50%) scale(1.05);
    color: #ff7b00;
    background: rgba(96, 46, 0, 0.481);
    border: 1px solid #ff7b00;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#donation_desc {
    font-size: calc(1vw + 0.5rem);
    color: #ccc;
    text-align: center;
    padding: 1vw 10vw;
    margin: 0 auto;
}

.iframe-container {
    text-align: center;
    margin: 0 auto;
    
}

@media screen and (max-height: 500px) {
    .head_container {
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-height: 400px) {
    .header-form {
        top: 10%;
    }
}



@media screen and (max-width: 600px) {
    .head_container {
        width: 90%;
    }
    .head_container h1 {
        font-size: calc(3vw + 1rem);
        padding: 2vw;
    }
    .head_container p {
        font-size: calc(1.4vw + 0.5rem);
        padding-inline: 2vw;
    }
    .header-form {
        top: 10%;
    }

    header form input {
        width: 90%;
        font-size: calc(2vw + 0.5rem);
        border-radius: 16px 16px 16px 16px;
        border: rgba(122, 122, 122, 0.527) 1px solid;
        padding: 2vw;
        margin: 10px 0;
    }
    header form button {
        width: 90%;
        border-radius: 16px 16px 16px 16px;
        
        font-size: calc(2vw + 0.5rem);
        margin: 10px 0;
    }
    header form {
        flex-direction: column;
    }
    
    #app-description {
        padding: 1vw 2vw;
    }

    #editor-video {
        max-width: 90%;
        margin: 0 auto;
    }
    .app-description-container {
        flex-direction: column;
        align-items: center;
    }
    .app-description-list {
        text-align: center;
        margin: 0 auto;
    }
    .app-description-list li {
        font-size: calc(2vw + 0.5rem);
    }
    
}

@media screen and (max-width: 400px) {
    .head_container {
        width: 95%;
        height: 90%;
    }
    .head_container h1 {
        font-size: calc(4vw + 1rem);
    }
    .head_container p {
        font-size: calc(2vw + 0.5rem);
    }
    header form input {
        font-size: calc(3vw + 0.5rem);
    }
    header form button {
        font-size: calc(3vw + 0.5rem);
    }
    header form {
        top: 50%;
    }
}
@media screen and (max-width: 300px) {
    .head_container {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .head_container h1 {
        font-size: calc(5vw + 1rem);
    }
    .head_container p {
        font-size: calc(3vw + 0.5rem);
    }
    header form input {
        font-size: calc(4vw + 0.5rem);
        padding: 5vw;
        margin: 0 0 0 0;
        width: 80%;
    }
    header form button {
        font-size: calc(4vw + 0.5rem);
        width: 80%;
        border-radius: 8px 8px 8px 8px;
        padding: 5vw;
    }
}