
:root {

    --bg-dark: hsl(272 100% 4%);
    --bg: hsl(278 100% 7%);
    --bg-light: hsl(279 81% 11%);
    --text: hsl(275 100% 100%);
    --text-muted: hsl(275 51% 75%);
    --highlight: hsl(278 46% 45%);
    --border: hsl(280 65% 33%);
    --border-muted: hsl(283 100% 18%);
    --primary: hsl(277 100% 78%);
    --secondary: hsl(88, 46%, 44%);
    --danger: hsl(7 89% 66%);
    --warning: hsl(54 100% 25%);
    --success: hsl(162 100% 29%);
    --info: hsl(217 100% 69%);
}

html {
  scroll-behavior: smooth;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.1;
    filter: blur(5px) brightness(0.5);
    pointer-events: none;

}

.table-container {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-inline: calc(1vw + 0.2rem);
    box-sizing: border-box;
    overflow-x: auto;
    user-select: none;
}

#invite-table {
    width: calc(100% - 64px);
    min-width: 100px;
    border-collapse: collapse;
    margin: 32px;
    border: solid 2px var(--border-muted);
    border-radius: 16px;
    overflow: hidden;
    font-size: calc(1vw + 0.5rem);
    background-color: var(--bg-dark);

    /* Glow efekts */
    box-shadow:
        0 0 0 2px var(--bg),
        0 0 12px var(--bg),
        0 0 24px var(--bg)
}


/* Galvene */
#invite-table thead tr {
    background-color: var(--bg);
    color: var(--text-muted);
    font-weight: bold;
}

/* Šūnas */
#invite-table th,
#invite-table td {
    padding: 1vw 2vw;
    text-align: center;
    white-space: nowrap;
}

/* Alternējošas rindas */
#invite-table tbody tr:nth-child(odd) {
    background-color: var(--bg-light);
}

#invite-table tbody tr:nth-child(even) {
    background-color: var(--bg-dark);
}




::selection {
    color: inherit;
    background-color: #0000005f;
}

.show {
    opacity: 1;
    transition: opacity 0.8s ease;
}


.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    margin: 0;
    padding: 0;
    background: var(--bg);
    width: 100%;
}

h1 {
    text-align: center;
    font-size: calc(2vw + 1rem);
    margin: 0;
    padding: 1vw;
    color: var(--text);
}


.hr_line {
    position: relative;
    width: 10%;
    height: calc(1px + 0.5vw);
    background-color: var(--highlight);
    margin: 64px 0;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 1s ease-in-out, opacity 1s ease;
}
.hr_line.filled {
    width: var(--target-width);
}




.header-form {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
}

.head_container {
    background-color: var(--bg-dark);
    border-radius: 32px;
    border: var(--border) 2px solid;
    border-bottom: none;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 64px var(--highlight),
                0 8px 16px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 70%;
    height: 80%;
    top: 50%;
    left: 50%;
    filter: blur(10px);
    transform: translate(-50%, -60%);
    opacity: 0;
    animation: slideDown 0.5s forwards ease-in-out;
}

@keyframes slideDown {
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: blur(0);
  }
}



#app-description {
    font-size: calc(2vw + 0.2rem);
    text-align: center;
    padding: 1vw 10vw;
}
.app-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1vw 0;
}
.app-description-list {
    list-style-type: none;
    padding: 0;
    text-align: right;
}
#editor-video {
    width: 100%;
    height: auto;
    max-width: 50%;
    border-radius: 16px;
    margin: 0 0 0 8vw;
    box-shadow:
    0 0 20px var(--highlight),
    0 8px 30px rgba(0, 0, 0, 0.2);
}

.app-description-list li {
    border-radius: 10px;
    margin: 10px 0;
    font-size: calc(1vw + 1rem);
    transition: all 0.3s ease;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem 4vw;
  margin: 0 auto;
}


.feature-card {
  background: var(--bg-dark);
  border-radius: 16px;
  padding: 0 0 12px 0;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
}

.feature-card:hover {
  transform: translateY(-6px);
  background: var(--bg);
  box-shadow: 0 12px 24px var(--highlight);
}

.feature-card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 16px;
}
.feature-card video {
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin-bottom: 1rem;
}

.blurred {
    filter: blur(5px);
}

.image-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 16px;
}

.image-wrapper p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 6px 12px;
    border-radius: 12px;
    font-weight: bold;
    font-size: calc(1vw + 0.5rem);
    text-align: center;
    pointer-events: none;
    z-index: 2;
    transition: transform 0.3s ease, opacity 0.5s ease;
}

.image-wrapper:hover p {
  transform: translate(-50%, -50%) scale(1.1);
}



.feature-card h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--text);
}

.feature-card p {
  font-size: 0.95rem;
  color: var(--text-muted);
  margin: 12px calc(1vw + 0.2rem);
}


header {
    text-align: center;
    height: calc(80vw + 20rem);
    width: 100%;
    position: relative;
}

.head_container h1 {
    font-size: 4vw;
    margin: 0;
    position: relative;
    top: 10%;
}

.head_container p {
    font-size: calc(1vw + 0.5rem);
    padding: 0.5vw;
    position: relative;
    top: 10%;
    color: var(--text-muted);
}

footer {
    text-align: center;
    padding: 40px 20px;
    color: var(--text-muted);
}

header form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 100%;
}

header form input {
    padding: 2vw 5vw;
    font-size: calc(1vw + 0.5rem);
    border: solid 2px var(--border);
    border-right: none;
    border-radius: 16px 0 0 16px;
    background: var(--bg);
    color: var(--text-muted);
    transition: box-shadow 0.3s ease;
}

header form input:-webkit-autofill, header form input:-webkit-autofill::selection {
    font-size: calc(1vw + 0.5rem);
    color: var(--text);
    box-shadow: 0 0 0px 1000px var(--bg-light) inset;
    -webkit-text-fill-color: var(--text);
    transition: background-color 5000s ease-in-out 0s;
}


header form input:focus {
    outline: none;
    box-shadow: 0 0 12px var(--highlight);
    background: var(--bg-light);
    color: var(--text);
}

header form:has(input:focus) button {
    box-shadow: 0 0 12px var(--highlight);
}


header form input:focus::placeholder {
    color: var(--text);
    font-style: normal;
}

header form button {
    padding: 2vw 5vw;
    background: var(--bg-dark);
    border: solid 2px var(--border);
    border-left: none;
    border-radius: 0 16px 16px 0;
    color: var(--text);
    font-size: calc(1vw + 0.5rem);
    min-width: calc(13vw + 50px);
    cursor: pointer;
    transition: all 0.3s ease;
}

header form button:hover {
    background: var(--bg-light);
}

.center_wrapper {
    text-align: center;
}

.social-media-links a {
    margin: 0;
    text-decoration: none;
    font-size: calc(2vw + 0.5rem);
    transition: color 0.3s ease, opacity 0.5s ease;
    font-style: oblique;
    user-select: none;
}

.social-media-links img {
    height: calc(2vw + 16px);
    padding: 10px;
    transform: scale(1);
    transition: transform 0.1s ease, opacity 0.5s ease;
}
.social-media-links img:hover {
    transform: scale(1.1) translateY(-5px);
}


/* Scroll animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.progress_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    height: 48px;
    margin: 16px 4vw;
    border: solid 2px var(--border);
    border-radius: 16px;
    background-color: var(--bg-dark);
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 24px var(--highlight);
    animation: fadeIn 1s ease-in-out forwards;
}

.progress_bar a {
    color: var(--text-muted);
    text-decoration: none;
    font-size: calc(1vw + 0.5rem);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.progress_bar_fill {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--border);
    border-radius: 14px;
    transition: width 1s ease-in-out, opacity 0.5s ease;
}

.progress_bar_fill.filled {
  width: var(--target-width);
}

.support-button {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text);
    text-decoration: none;
    text-align: center;
    font-size: calc(0.5vw + 1rem);
    border: solid 1px var(--border-muted);
    border-radius: 16px;
    background: var(--bg-light);
    padding: 10px 20px;
    margin: 20px 0;
    transition: transform 0.3s ease, border 0.3s ease, color 0.3s ease, opacity 0.5s ease;
}

.support-button:hover {
    left: 50%;
    transform: translateX(-50%) scale(1.05);
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#donation_desc {
    font-size: calc(1vw + 0.5rem);
    color: var(--text-muted);
    text-align: center;
    padding: 1vw 10vw;
    margin: 0 auto;
}

.iframe-container {
    text-align: center;
    margin: 0 auto;
    
}

.waitlist-btn {
    position: fixed;
    bottom: 4vw;
    right: 4vw;
    background-color: var(--bg-light);
    color: var(--text);
    border: none;
    padding: 12px 20px;
    margin: 0;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.9);
    z-index: 1000;
    opacity: 0;
    transition: background-color 0.3s ease, opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
}

.waitlist-btn:hover {
    background-color: var(--primary);
}





.thanks_p {
    font-size: calc(1vw + 0.5rem);
    text-align: center;
    padding: 0 10vw;
    margin: 0 auto;
    color: var(--text-muted);
}

.thanks_invite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
}

#inviteLink {
    width: 50%;
    padding: 10px 20px;
    font-size: calc(1vw + 0.5rem);
    border: solid 2px var(--border-muted);
    border-radius: 8px;
    background-color: var(--bg-light);
    color: var(--text-muted);
}

#copyBtn {
    width: 30%;
    padding: 10px 20px;
    font-size: calc(1vw + 0.5rem);
    border: solid 2px var(--secondary);
    border-radius: 8px;
    background-color: var(--secondary);
    color: var(--text);
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease;
}

#copyBtn:hover {
    background-color: var(--primary);
    transform: scale(1.05);
    border: solid 2px var(--primary);
}




@media screen and (max-width: 700px) {

    header {
        height: calc(80vw + 40rem);
        width: 100%;
        margin-bottom: 10vw;
    }

    .head_container {
        width: 90%;
    }

    .head_container h1 {
        font-size: calc(3vw + 1rem);
        padding: 2vw;
    }
    .head_container p {
        font-size: calc(1.4vw + 0.5rem);
        padding-inline: 2vw;
    }
    .header-form {
        top: 10%;
    }

    header form input, header form button {
        width: 90%;
        font-size: calc(2vw + 0.5rem);
        border-radius: 16px;
        border: solid 2px var(--border);
        padding: 2vw;
        margin: 10px 0;
    }
    header form {
        flex-direction: column;
    }
    
    #app-description {
        padding: 1vw 2vw;
    }
    #app-description h1 {
        font-size: calc(4vw + 1rem);
    }

    #editor-video {
        max-width: 90%;
        margin: 0 auto;
        margin: 4vw 0;
    }
    .app-description-container {
        flex-direction: column;
        align-items: center;
    }
    .app-description-list {
        text-align: center;
        margin: 0 auto;
    }
    .app-description-list li {
        font-size: calc(2vw + 0.5rem);
    }
    .features-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 1rem 0;
        margin: 0 6vw;
        gap: 1rem;
    }

    #donation_desc {
        font-size: calc(2vw + 0.5rem);
        padding: 1vw 2vw;
    }
    

    .thanks_invite {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: 0;
        padding: 0;
    }
    #inviteLink, #copyBtn {
        box-sizing: border-box;
        width: 80%;
        font-size: calc(2vw + 0.5rem);
        padding: 10px 20px;
        margin: 0;
    }
}

@media screen and (max-width: 400px) {

    header {
        height: 120vh;
        width: 100%;
        margin-bottom: 10vw;
    }

    .head_container {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
    }
    .head_container h1 {
        font-size: calc(4vw + 1rem);
    }
    .head_container p {
        font-size: calc(2vw + 0.5rem);
    }
    header form input {
        font-size: calc(3vw + 0.5rem);
    }
    header form button {
        font-size: calc(3vw + 0.5rem);
    }
    header form {
        top: 50%;
    }
}


@media screen and (max-width: 300px) {
    .head_container {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .head_container h1 {
        font-size: calc(5vw + 1rem);
    }
    .head_container p {
        font-size: calc(3vw + 0.5rem);
    }
    header form input {
        font-size: calc(4vw + 0.5rem);
        padding: 5vw 0vw;
        width: 80%;
        text-align: center;
    }
    header form button {
        font-size: calc(4vw + 0.5rem);
        width: 80%;
        border-radius: 8px 8px 8px 8px;
        padding: 5vw;
    }
}




