@import url(https://fonts.googleapis.com/css?family=Raleway);

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(13, 9, 21, 0.5));
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav .logo img {
    height: 40px;
}

nav .logo a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    gap: 16px;
    font-weight: bold;
    align-items: center;
    width: 200px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: min(4rem, 3vw + 1rem);
    padding-inline-start: 0;
}

.nav-links li a {
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 24px 0;
    transition: color 0.3s ease, opacity 0.5s ease;
}

.nav-links li a:hover {
    color: var(--highlight);
}

nav a.cta {
    background-color: var(--primary);
    color: var(--bg-dark);
    padding: 0.5rem 1rem;
    border-radius: 999px;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
    transition: background-color 0.3s ease, opacity 0.5s ease, color 0.3s ease;
}
nav a.cta:hover {
    background-color: var(--text);
    color: var(--bg-dark);
}

.nav-external img {
  width: 14px;
  height: 14px;
  transform: rotate(23deg) translate(-11px, -1px);
  transition: opacity 0.2s ease;
}

.nav-external:hover img {
    opacity: 0.8;
}

/* Responsive */

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: var(--text);
    padding: 0 1rem;
}

@media (min-width: 768px) {
    nav a.cta {
        display: flex;
    }

    .mobile-join {
        display: none;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        background: rgba(20, 20, 30, 0.95);
        position: absolute;
        top: 100%;
        right: 2rem;
        width: 240px;
        display: none;
        padding: 1rem;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
        z-index: 999;
        gap: 1rem;
    }

    .nav-links.active {
        display: flex;
    }

    nav a.cta {
        display: none;
    }
    .nav-links li a {
        padding: 12px 70px 12px 16px;
        text-align: center;
        font-size: 1.2rem;
    }
}


@media (max-width: 1000px) and (min-width: 769px) {
  .logo {
    width: 40px;
  }

  .logo-text {
    display: none;
  }
}

